
<div class="container row">
    <div class="col-md-6">
      <h1>HAIRCOSYS</h1>
        <button class="btn">
        <label  for="file-upload" class="custom-file-upload">
          Choose File
      </label>
            </button>
      <input id="file-upload" type="file" (change)="onFileChanged($event)"/>
    </div>
  <div class="col-md-6">
      <input class="upload btn" type="button" (click)="onUpload()" value="upload">
  </div>
<hr />
<div class="imgbox">
  <img id="first" class="preview" [src]="url" > <br/>
</div>

<div id="second" class="text">
  <table class="table table-striped">
    <thead>
        <th>Issue</th>
        <th> Confidence</th>
    </thead>
    <tbody>
        <tr *ngFor = "let label of labelList">
            <td> {{ label.issue}}</td>
            <td> {{ label.confidence}}</td>
        </tr>
    </tbody>
</table>
  </div>

</div>  